body {
	background-color: #608BFF;
}

.header {
	width: 100%;
	height: auto;
	margin: auto;
}

#story {
	width: 35%;
	margin: auto;
	margin-top: 60px;
	font-family: 'Pixelify Sans';
	color: white;
	font-size: 18px;
	line-height: 1.5;
}
