body {
	background-color: #608BFF;
	}

#header {
	width: 100%;
	margin: 8px 0px;
}

#story {
	width: 674px;
	margin: 180px 600px 0px;
	font-family: 'Pixelify Sans';
	color: white;
}

p {
	font-family: 'Pixelify Sans';
	color: white;
}
